[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
tensorflow = "*"
tensorflow-datasets = "*"
tensorboard = "*"
tifffile = "*"
scipy = "*"
pydot = "*"
scikit-learn = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
