[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.19.5"
pandas = "*"
matplotlib = "*"
seaborn = "*"
tensorflow-gpu="1.15.0" 
keras="2.2.4"
tensorflow-datasets = "*"
tifffile = "*"
scipy = "*"
rasterio = "*"
pydot = "*"
scikit-learn = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.7"
