[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-gpu = "==1.15.0"
keras = "==2.2.4"
matplotlib = "*"
numpy = "==1.19.5"
scipy = "*"
h5py = "<3.0.0"
mkl = "*"
nose = "*"
rasterio = "*"
pydot = "*"
ipykernel = "*"
scikit-learn = "*"
tqdm = "*"
tifffile = "*"

[dev-packages]

[requires]
python_version = "3.7"
